body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}
header {
  background: #222;
  color: white;
  padding: 20px 0;
  text-align: center;
}
nav {
  background: #444444;
  display: flex;
  justify-content: center;
}
nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}
nav a:hover {
  background: #555555;
}
.container {
  padding: 20px;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.product {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}
.product img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.shopnow{
  font-size: 13px;
  font-family: arial;
  font-weight: bold;
  background-color: rgb(241, 62, 62);
  color: white;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}