.request-button{
  background-color: black;
  color: white;
  height: 42px;
  width: 120px;
  font-weight: bold;
}
.add-button{
  background-color: rgb(255, 216, 20);
  color:black;
  height: 42px;
  width: 200px;
  font-weight: bold;
  border-radius: 21px;
  border-style: none;
  font-size: 18px;
}
.sign-button{
  background-color: rgb(46, 164, 79);
  color: white;
  height: 42px;
  width: 130px;
  border:none;
  font-size: 19px;
  font-weight: bold;
  border-radius: 8px;
}
.apply-button{
  background-color: rgb(10, 102, 194);
  color: white;
  height: 56px;
  width: 350px;
  border:none;
  font-size: 19px;
  font-weight: bold;
  border-radius: 32px;
}
.save-button{
  background-color:white;
  color: rgba(28, 75, 231, 0.979);
  height: 56px;
  width: 130px;
  font-size: 19px;
  font-weight: bold;
  border-radius: 28px;
  border-style: solid;
  border-color: rgb(48, 48, 228);
  border-width: 1.5px;
}
.stock{
  color: rgb(0, 118, 0);
}